@import '../../src/styles/alias.styl';
@import '../../src/styles/vars.styl';

ul
  list-style: none

body
  ff: 'Open Sans', 'Roboto', sans-serif
  fs: responsive
  bg: #202B33
  h: 100%
  w: 100%

.content
  // m: 0 auto
  // mxw: 1000px
  m: 8px 0
  w: 100%

.app-wrapper
  transition width .2s
  will-change width