@alias {
  c: color;

  m: margin;
  pd: padding;

  h: height;
  mxh: max-height;
  mnh: min-height;
  w: width;
  mxw: max-width;
  mnw: min-width;

  ff: font-family;
  fs: font-size;
  fw: font-weight;

  bc: background-color;
  bg: background;

  d: display;

  fl: flex;
  jc: justify-content;
  ai: align-items;
  as: align-self;
  fld: flex-direction;
  flw: flex-wrap;

  ta: text-align;
  td: text-decoration;
}
