@import '../../src/styles/alias.styl';
@import '../../src/styles/vars.styl';

body
  ff: 'Open Sans', 'Roboto', sans-serif
  fs: responsive
  bg: $grayColor + 30%

*:focus
  outline none
.pt-input:focus
  box-shadow 0 0 0 1px rgba(#137cbd + 20%, .8), 0 0 0 3px rgba(19, 124, 189, 0.1), inset 0 1px 1px rgba(16, 22, 26, 0.1)
 

// ====  toaster styles  ==== 
.pt-toast
  align-items center
  .pt-toast-message
    font-size 18px


// ====  support dialog  ====
.pt-dialog
  .pt-dialog-header
    ta center
  .pt-dialog-body
    d flex
    flw wrap
    jc space-around
    .pt-ui-text
      margin-bottom $lg
      ta center
    .pt-select
      margin-bottom $lg
    .support-textarea
      mnh $lgxx
    .support-inputs
      margin-bottom $lg
      d flex
      fl 1
      jc space-between