@import '../../src/styles/vars.styl'

.balance-wrapper
  width 300px
  display flex
  flex-wrap wrap
  margin-left auto
  margin-bottom $lgx
  .balance
    background $primaryColor + 30%
    box-shadow 0 2px 0 rgba(100, 100, 100, .1)
    margin-right $sm
    display flex
    flex 1
    align-items center
    justify-content space-between
    height $lgxx
    .balance-icon
      display flex
      justify-content center
      flex 2
      height $lgxx
      box-shadow 2px 0px 0 rgba(100, 100, 100, .05)
      background $whiteColor
      > img
        pointer-events none
        user-select none
        width $lgxx
    .balance-number
      text-align center
      flex 4
      color $textColor
    .balance-currency
      pointer-events none
      user-select none
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      flex 1
      font-weight 600
      color $textColor
      margin-right $md