@import '../../src/styles/alias.styl'
@import '../../src/styles/vars.styl'

.pt-navbar
  height $lgx
  background $lightGrayColor
  box-shadow -2px 2px 6px rgba($grayColor - 30%, .6)
  .pt-navbar-group
    height $lgx

.support-button-wrapper
  .pt-dialog
    .pt-dialog-body
      min-height $lgx * 3
      color $textColor

.login-button-wrapper
  display flex
  flex-wrap wrap
  font-size 17px
  align-items center
  .login-uname
    margin-right $sm
    font-weight 600
    color $textColor


.deposit-button-wrapper
  .deposit
    margin-right $md
    cursor pointer
    font-size 16px
    font-weight 600
    flex 1
    color #2dbe60
    
.withdraw-button-wrapper
  .withdraw
    cursor pointer
    margin-right $lg * 1.5
    font-size 16px
    flex 1