@import '../../src/styles/alias.styl'
@import '../../src/styles/vars.styl'

.footer
  display none
  position absolute
  bottom 0
  w 100%
  bc rgba(#5C7080, .6)
  h $lgxxx
  .wrapper
    h $lgxxx - 8px
    d flex
    jc center
    flw wrap
    ai flex-end
    .copyrights
      fs .65em
      color #CED9E0
      fl 0 0 100%
      ta center
      as flex-end
    .internal-links
      d flex
      fl 1
      jc center
      > a
        c #BFCCD6
        pd 0 1em 0 0
   