@import '../../src/styles/vars.styl'

.box-input
  border none !important
  border-radius 0 !important
  text-align center
  height $lgm
  max-width $lgxxxx
  background transparent
  transition all .04s ease
  padding 0 !important
  &:focus
    box-shadow inset 0 0 4px rgba(#489fdf, .5)
    border 1px solid rgba(#489fdf, .5) !important
    background $whiteColor
  ~ b
    display none
    border-style none !important
    background $primaryColor !important
    border-color transparent !important
    border-radius 0 !important
    right 0px !important

.box-title
  font-size 13px
  font-weight 600
  color $darkColor
.profit-title, .wager-title
  font-size 17px
  font-weight 600

.bet-box-wrapper
  max-width 800px
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
  margin 0 auto
  margin-bottom 8em
  background $lightGrayColor + 50%
  box-shadow 0 2px 2px rgba(100, 100, 100, .13)
  .bet-box-tab
    flex 0 100%
    display flex
    justify-content center
    max-width 800px
    .bet-box-tab-button
      border none
      flex 1
      background $lightGrayColor + 50%
      height $lgxx
      border-color none
      box-shadow none
      &:nth-of-type(2)
        background $lightGrayColor - 4%
  .bet-box-content
    display flex
    flex-wrap wrap
    flex 1
    padding $lg
    .bet-box-content-upper
      flex 0 100%
      display flex
      flex-wrap wrap
      justify-content center
      margin-bottom $lg

      .wager-wrapper
        display flex
        flex-wrap wrap
        jutify-content center
        flex 3
        .wager-title
          flex 0 100%
          text-align start
          margin-bottom $md
        .wager-content
          display flex
          > button
            // background #67aded
            background #6C7A89 + 10%
            border none
            height $lgm
            margin-right 1px
            min-width $lgm
            color $whiteTextColor
            &:hover
              background #6C7A89 - 15%
              transition background .25s ease
            &:active
              box-shadow inset 0px 0px 8px #555
          .react-numeric-input
            margin-right $xsm
            > .wager-input
              @extend .box-input
              box-shadow inset 0 1px 1px rgba(209,209,209,0.8)
              background $primaryColor - 2%
              ~ b
                display block

      .profit-wrapper
        display flex
        flex-wrap wrap
        jutify-content center
        flex 2
        .profit-title
          flex 0 100%
          text-align start
          margin-bottom $md
        .profit-content
          background $primaryColor - 2%
          box-shadow: inset 0 1px 1px rgba(209,209,209,.8)
          display flex
          justify-content center
          align-items center
          flex 1
          height $lgm
          .profit-number
            font-size responsive

    .bet-box-content-lower
      display flex
      flex 0 100%
      border-top 1px solid rgba($darkColor, .08)
      padding-top $lg
      flex-wrap wrap
      .bet-button-wrapper
        flex 0 100%
        display flex
        padding 0
        margin-top $md
        .bet-button
          flex 1
          color #567
          background #f0f0f0
          white-space nowrap
          border-radius 4px
          position relative
          border none
          cursor pointer
          transition 0.1s all ease
          font-size 19px
          font-weight 600
          border-bottom 1px solid #ccc
          box-shadow 0px 0px 0px 0px #B8B8B8
          &:hover
            background-color: #f5f5f5
            border-bottom: 4px solid #ccc
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15)
          &:active
            border: 1px solid #ccc !important
            background-color: #ededed
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15)
      .multiplier-wrapper
        border-right 1px solid rgba($darkColor, .1)
        .multiplier-title
        .multiplier-content
          .multiplier-input
            transition all .04s ease
            &:focus
              box-shadow inset 0 0 4px rgba(#489fdf, .5)
              border 1px solid rgba(#489fdf, .5) !important
              background $whiteColor

      .rtw-wrapper
        background #f0f0f0
        box-shadow 0px 0px 0px 0px #B8B8B8
        border-bottom 1px solid #ccc
        cursor pointer
        user-select none
        transition 0.1s all ease
        &:hover
          background-color: #f5f5f5
          border-bottom: 4px solid #ccc
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15)
        &:active
          border: 1px solid #ccc !important
          background-color: #ededed
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15)
        .rtw-condition-title
          pointer-events none
          user-select none
        .rtw-number
          pointer-events none
          user-select none
      input
        max-width 150px
      > div
        padding $sm
        display flex
        height $lgxx + 24px
        flex-wrap wrap
        flex 1
        justify-content center
        align items center
        &:not(:last-child)
          margin-right 2%
        > span
          flex 0 100%
          text-align center
  
    
        // .react-numeric-input
        //   .wager-input