@import '../../src/styles/vars.styl'

.chat-wrapper
  position fixed
  top 0
  right 0
  background $grayColor
  color $textColor
  z-index 1
  height 100%
  width $chat-width
  transition transform .2s, visibility .2s
  will-change transform
  visibility hidden
  box-shadow:  -2px 0px 6px rgba($grayColor - 30%, .5)
  .chat
    display flex
    flex-direction column
    max-height 100%
    //chat header part
    .chat-header
      display flex
      min-height $lgx
      justify-content space-between
      background $lightGrayColor
      padding 0 $sm
      box-shadow 2px 2px 6px 0 rgba($grayColor - 30%, .6)
      .chat-header-wrapper
        display flex
        flex 1
        justify-content space-between
        align-items center
        > button
          &:last-child
            &:before
              font-size 17px
          outline none
          &:hover
            background transparent
            &:before
              color $iconColor + 30%
              transition color .4s ease
          &:before
            font-size 20px
            color $iconColor + 5%
        > div
          align-self flex-start
          padding $xxsm $sm 
          font-size 16px
          box-shadow inset 0 0 4px rgba(103,103,103, .18)
          // background $grayColor - 10%

    //chat body part
    .chat-body
      display flex
      flex-direction column
      justify-content space-between
      margin 0
      // height calc(100% - 60px)
      .chat-channel
        overflow auto
        padding $sm $md
        margin-top $xsm
        height 100vh
        .message
          display flex
          justify-content space-between
          flex-wrap wrap
          margin-bottom $mdx
          &:last-child
            margin-bottom $sm
          .message-uname
            font-size $pxm
          .message-time
            font-size $pxs
            color $textColor + 30%
          .message-text
            font-size $pxsm
            flex 0 100%
            margin-top $xsm
            word-break break-word
            white-space pre-wrap
    //chat footer part
    .chat-footer
      // display flex
      // align-items center
      height auto
      box-shadow 0px -2px 4px 0 rgba($lightGrayColor - 12%, .9)
      background $lightGrayColor
      .wrapper
        .editor-wrapper
          margin $md
          .DraftEditor-root
            background #fff
            border 1px solid #dddfe2
            font-size 13px
            position relative
            width 100%
            min-height 41px
            padding $md
            resize none
            white-space pre-wrap
            word-wrap break-word
            word-break break-word
            outline none
            .public-DraftEditorPlaceholder-hasFocus
              transition color 1.4s ease
              color $textColor + 50%
            .public-DraftEditorPlaceholder-root
              .public-DraftEditorPlaceholder-inner
                position absolute
                pointer-events none
                user-select none
                font-size 14px
                position absolute
                height 0
        .pt-button-group
          display flex
          .pt-button
            flex 1
            border-radius initial
            background $grayColor - 10%
            box-shadow none
            outline none
            &:hover
              background $grayColor - 3%
            &:active, &:focus
              background $lightGrayColor
          > span
            flex 3
            display flex
            justify-content center
            align-items center
            opacity .7
            font-size 19px





          //  .track-vertical
          //   position absolute
          //   width 2px
        //   display block!important
  //   right 2px
  //   bottom 2px
  //   top 2px
  //   border-radius 3px
  //   background-color #333
  // .thumb-vertical
  //   position relative
  //   display block
  //   width 100px
  //   height 100px
  //   cursor pointer
  //   border-radius inherit
  //   background-color #f5f5f5
                                                                                                                

// .editor {
//   box-sizing: border-box;
//   border: 1px solid #ddd;
//   cursor: text;
//   padding: 16px;
//   border-radius: 2px;
//   margin-bottom: 2em;
//   box-shadow: inset 0px 1px 8px -3px #ABABAB;
//   background: #fefefe;
// }

// .editor :global(.public-DraftEditor-content) {
//   min-height: 140px;
// }

// .counter {
//   color: white;
//   background-color: #353535;
//   display: inline-block;
//   min-width: 50px;
//   border-radius: 10px;
//   padding: 2px;
//   text-align: center;
//   margin-bottom: 5px;
// }

// .counterOverLimit {
//   color: green;
//   background-color: #353535;
//   display: inline-block;
//   min-width: 50px;
//   border-radius: 10px;
//   padding: 2px;
//   text-align: center;
//   margin-bottom: 5px;
// }
